Pods/

Podfile.lock

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/AFNetworking.xcscheme

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/Pods-OneUp-iOS.xcscheme

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/xcschememanagement.plist

OneUp-iOS.xcworkspace/xcuserdata/harrischristiansen.xcuserdatad/UserInterfaceState.xcuserstate
