Pods/

Podfile.lock

UserInterfaceState.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/AFNetworking.xcscheme

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/Pods-OneUp-iOS.xcscheme

Pods/Pods.xcodeproj/xcuserdata/harrischristiansen.xcuserdatad/xcschemes/xcschememanagement.plist

OneUp-iOS.xcworkspace/xcuserdata/harrischristiansen.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Target Support Files/Pods-OneUp-iOS/Pods-OneUp-iOS-acknowledgements.markdown

OneUp-iOS.xcworkspace/xcuserdata/harrischristiansen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
